html{
    font-size: 62.5%;
    overflow-x: hiden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;}
    @media screen and (min-width:768px){
        
    
.container{
   display:grid;
   grid-template-columns: 2 1fr;
   gap: 1rem;
}

.photo-gallary{
    
    width: 100%;
    display: block;
    
}
.photo-gallary{
    width: 2px;;
    height:2px;
    padding: 30px;
    font-size:15px;
    text-align:left;
}
.button{

    display:2px solid rgb(216, 16, 49);
}


.header{
    position: fixed;
    top: 0%;left:0%;right:0%;
    background:#fff;
    padding: 1rem 7%;
    display:grid;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}




/* media queries*/


 html{
   font-size: 55%;
    }
header{
    padding: 1rem 2rem;
}
@media(max-width:768px){
    
.flexiable-container{
    display:grid;
    grid-template-row: 3 1fr;
    gap:1rem;
}





}
@media(max-width:991px){
html(max-width: 50%;)
header{
    padding:1rem.2rem;
}
/*second section */{
.flexiable-container{
    height:400px;
    display : gridgit;
    border: 2px solid silver;
    justify-content:space-between;
    align-items:center;
}
.#box {
    width: 200px;
    height: 200px;
    border:2px solid rosybrown;
    font-size: 3em;
    justify-content:space-between;
    align-items:center;
}
}
