html{
    scroll-behavior: smooth;
}
 font{
    font-family: 'Poppins', sans-seri;
}


 .container{
   max-width:1000px;
    margin:20px;
    padding:auto;
}
/*Add overflow to the top navigation bar*/
.topnav{
    overflow: hidden;
}
.topnav a{
    float:right;
    color:black;
    padding:4px 6px;
    text-decoration: none;
    font-size:12px;
} 
.topnav a:hover{
           background-color: blanchedalmond;
           
}
.topnav a{
    background-color: cornsilk;
    
}
/*small device(large phone and tablets,576px and up)*/
@media(min-width:576px)

.flexiable-container{
    display:flex;
}


 
  .half-width{
    width:200px;
    height:150px;
    margin:10px;
}
.font{
    font-size:30px;
    margin:10px;
}
.button1{
    width:100px;
    background-color: tomato;
    color:black;
    border-radius: 15px solid;
    margin:4px 10px;

}











